// Plugin CSS
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~aos/dist/aos.css";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "swiper/scss/thumbs";
@import "swiper/scss/free-mode";
@import "swiper/css/effect-fade";

// Init main SCSS File

@import "~/public/assets/css/font-awesome-pro.css";
@import "/public/assets/scss/main.scss";
